<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GDP Map Visualization</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gdp_map.css') }}">
</head>
<body>
    <div class="title">GDP Map Visualization</div>
    <select id="yearSelector" onchange="updateContent()">
        <option value="">Select a Year</option>
        {% for year in range(1980, 2029) %}
            <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
    </select>
    <div id="map" style="height: 500px; width: 100vw;"></div>
    <div id="gdpTable" style="position: absolute; top: 50px; right: 10px;">
        <table>
            <thead>
                <tr><th>Country</th><th>GDP</th></tr>
            </thead>
            <tbody id="tableBody">
                <!-- Table content will be added dynamically -->
            </tbody>
        </table>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/gdp_map.js') }}"></script>

</body>
</html>

