<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G20 GDP and Inflation</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <!-- D3.js and Plotly Libraries -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    
    <!-- Your custom JavaScript files -->
    {% if route == 'gdp' %}
    <script type="text/JavaScript" src="{{ url_for('static', filename='js/plot1.js') }}"></script>
    {% elif route == 'inflation' %}
    <script type="text/JavaScript" src="{{ url_for('static', filename='js/plot.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-2.29.1.min.js" charset="utf-8"></script>
    {% endif %}
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>
<body>
    <div id="map" style="height: 600px;"></div>
    <div id="plot" style="width:600px;height:250px;"></div>

    <!-- Your JavaScript code for fetching data and initializing the map -->
    <script>
        // Define your data fetching and map initialization logic here
        // For example:
        document.addEventListener("DOMContentLoaded", function() {
            // Fetch data using fetch or any other method
            // Initialize your map using Leaflet
            var map = L.map('map').setView([51.505, -0.09], 13);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            // Add markers or other map elements as needed
            // For example:
            L.marker([51.5, -0.09]).addTo(map)
                .bindPopup('protoptype <br> prototype')
                .openPopup();
        });
    </script>
</body>
</html>