<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G20 GDP and Inflation</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <!-- D3.js and Plotly Libraries -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>
<body>
    <div class="title">GDP Map Visualization</div>
    <select id="yearSelector" onchange="updateContent()">
        <option value="">Select a Year</option>
        {% for year in range(1980, 2029) %}
            <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
    </select>
    <div id="map" style="height: 600px;"></div>
    <div id="plot" style="width:600px;height:250px;"></div>   
    <table>
        <thead>
            <tr><th>Country</th><th>GDP</th></tr>
        </thead>
        <tbody id="tableBody">
            <!-- Table content will be added dynamically -->
        </tbody>
    </table>
</body>
</html>